@model OpenIddict.PasswordlessSample.ViewModels.PasswordlessLogin.Login
@{
    ViewData["Title"] = "Passwordless authentication";
}

<h2>Please use your authenticator</h2>

<script src="~/js/fido.js"></script>

<script>
    completeLogin("@Html.Raw(Model.Base64Challenge)", "@Model.RelyingPartyId", '/PasswordlessLogin/CompleteLogin')
</script>